@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  font-family: "Nunito", sans-serif;
}

body {
  font-size: 20px;
  margin: 0;
  background-color: #222;
  color: white;
  min-width: 100%;
}
.btn {
  background-color: transparent;
  padding: 10px;
  border: 1px white solid;
  color: white;
  border-radius: 10px;
  transition: 0.5s;
  margin-top: 10px;
}
.btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
.btn > a {
  color: white;
  text-decoration: none;
}
.btn:hover > a {
  color: black;
}
@media screen and (max-width: 767px) {
  .movie {
    margin: 10px 0 !important;
  }
}
